@model DTOs.OrderDTO

<h2>PO Management</h2>

<p>
    @Html.ActionLink("New PO", "Create")
</p>

<table class="uk-table PO">
    <tr>
        <th>
            @Html.LabelFor(model => model.PONumber, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Buyer, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Season, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Vendor, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.PortOfLoading, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.PortOfDelivery, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.OrderType, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Factory, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.Mode, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.ShipDate, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.LatestShipDate, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.LabelFor(model => model.POQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
    </tr>
    
</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
    </script>
}

